@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-2xs: 320px;
  --breakpoint-xxl: 1400px;
  --breakpoint-2xl-pro: 1720px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #d82626;
  --color-dark-blue: #003176;
  --color-blue: #0055a4;
  --color-gray: #8e8e8e;

  --font-body: "Onest", sans-serif;
  --font-heading: "Plus Jakarta Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  ::after,
  ::before,
  * {
    @apply box-border;
  }
  body {
    @apply m-0 p-0 text-base font-body;
  }
  h1,
  .h1 {
    @apply font-heading font-bold leading-[140px] tracking-[0.0005em] 2xs:text-5xl sm:text-[50px] md:text-[70px] lg:text-[80px] xl:text-[90px] 2xl:text-[100px] 2xl-pro:text-[110px];
  }
  h2,
  .h2 {
    @apply text-[44px] 2xs:text-[20px] md:text-[25px] lg:text-[44px] font-bold font-body leading-[58px];
  }
  h3,
  .h3 {
    @apply text-[35px] 2xs:text-[18px] md:text-[20px] lg:text-[35px] font-heading font-medium leading-11;
  }
  h4,
  .h4 {
    @apply text-[30px] 2xs:text-[18px] md:text-[20px] lg:text-[30px] font-heading font-bold;
  }
  h5,
  .h5 {
    @apply text-[25px] 2xs:text-base sm:text-[18px] md:text-[22px] lg:text-[25px] font-heading font-bold leading-8;
  }
  h6,
  .h6 {
    @apply text-[20px] 2xs:text-base sm:text-[18px] md:text-[20px] font-heading font-semibold;
  }
  p {
    @apply text-[18px] 2xs:text-base sm:text-[18px] leading-7 font-body font-normal justify-self-center text-gray capitalize;
  }
  .small-text {
    @apply text-[14px] font-body font-medium tracking-[1px] leading-[18px];
  }
}

@layer components {
  .custom-btn {
    @apply bg-orange text-white p-4 rounded-[100px] capitalize;
  }
}

@layer utilities {
  .container-max-1680 {
    @apply px-[119.41px] 2xs:px-5 sm:px-7 md:px-9 lg:px-10 2xl:px-[119.41px] justify-between items-center justify-self-center w-full ;
  }
  .nav-links .links {
    @apply font-medium leading-[23px] h-fit text-[18px] capitalize;
  }
  nav .btn-nav a {
    @apply underline leading-6 decoration-[0.05em] font-semibold font-poppins capitalize hover:text-orange transition-all duration-500 ease-in-out;
  }
  nav button svg {
    @apply text-black w-8 h-8 cursor-pointer;
  }
  nav img {
    @apply 2xs:max-w-[200px] sm:max-w-[210px] md:max-w-[230px] xl:max-w-[295px];
  }
  .hero-img {
    @apply absolute bottom-0 opacity-15 2xs:max-w-[150px] md:max-w-[300px] lg:max-w-[300px] xl:max-w-[300px] 2xl:max-w-[544px] 2xl:max-h-[393px];
  }
  .nav-links a,
  .mobile-links a {
    @apply hover:text-blue hover:font-bold transition-all duration-500 ease-in-out;
  }
  .select-dropdown a{
    @apply block px-4 py-2 text-black hover:bg-gray-100 transition-all duration-500 ease-in-out;
  }
  .mobile-links .btn-nav a{
    @apply hover:text-orange transition-all duration-500 ease-in-out;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-gradiant {
  background-image: linear-gradient(
    90.04deg,
    #d82626 0.04%,
    #d82626 30.59%,
    #0055a4 141.65%
  );
}
.nav-shadow {
  box-shadow: 0px 4px 18.6px 0px #0000001a;
}
.announcement-bar div .slider {
  width: 100%;
}
.slider .slide-track {
  width: 100%;
  animation: scroll 20s linear infinite;
}
.slide-track .slide {
  width: 100%;
  transition: 0.5s;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: stickySlideDown 1s ease-in-out;
}
