@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-2xs: 320px;
  --breakpoint-xxl: 1400px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #d82626;
  --color-dark-blue: #003176;
  --color-blue: #0055a4;
  --color-gray: #8e8e8e;
  --color-light-gray: #dfdfdf;
  --color-dark-gray: #434343;

  --font-body: "Onest", sans-serif;
  --font-heading: "Plus Jakarta Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  ::after,
  ::before,
  * {
    @apply box-border;
  }
  body {
    @apply m-0 p-0 text-base font-body;
  }
  h1,
  .h1 {
    @apply font-heading font-bold leading-[140px] tracking-[0.0005em] 2xs:text-5xl sm:text-[50px] md:text-[60px] xl:text-[90px] 2xl:text-[110px];
  }
  h2,
  .h2 {
    @apply text-[44px] 2xs:text-[20px] md:text-[25px] lg:text-[30px] xl:text-[35px] 2xl:text-[44px] font-bold font-heading leading-[55px] 2xs:leading-[35px] lg:leading-10 2xl:leading-[55px];
  }
  h3,
  .h3 {
    @apply text-[35px] 2xs:text-[18px] md:text-[20px] lg:text-[35px] font-heading font-medium leading-11;
  }
  h4,
  .h4 {
    @apply text-[30px] 2xs:text-[18px] md:text-[20px] 2xl:text-[30px] font-heading font-bold;
  }
  h5,
  .h5 {
    @apply text-[25px] 2xs:text-base sm:text-[18px] md:text-[22px] lg:text-[25px] font-heading font-bold leading-8;
  }
  h6,
  .h6 {
    @apply text-[20px] 2xs:text-base xl:text-[20px] font-heading font-semibold leading-[25px];
  }
  p {
    @apply text-[18px] 2xs:text-base sm:text-[18px] leading-7 font-body font-normal;
  }
  .small-text {
    @apply text-[14px] font-body font-medium tracking-[1px] leading-[18px] uppercase;
  }
  .small-text-inter {
    @apply text-[14px] font-inter font-medium leading-[17px] capitalize text-white;
  }
  a {
    @apply transition-all duration-500 ease-in-out;
  }
}

@layer components {
  .custom-btn {
    @apply bg-orange text-white py-[15px] 2xs:py-2.5 md:py-[15px] hover:bg-blue transition-all duration-500 ease-in-out px-[28.5px] 2xs:px-[18px] md:px-[28.5px] font-bold font-heading tracking-[0.003em] rounded-[100px] capitalize cursor-pointer;
  }
  .white-custom-btn {
    @apply bg-white text-orange py-[17px] 2xs:py-2.5 md:py-[17px] hover:bg-orange hover:text-white transition-all duration-500 ease-in-out px-5 2xs:px-[15px] md:px-5 font-bold font-heading tracking-[0.003em] rounded-[100px] capitalize cursor-pointer;
  }
}

@layer utilities {
  .container-max-1680 {
    @apply px-[119.41px] 2xs:px-5 min-[1092px]:px-5 xxl:px-[119.41px] 2xl:px-[119.41px] justify-between items-center justify-self-center w-full;
  }
  .nav-links .links {
    @apply font-medium leading-[23px] h-fit text-[18px] capitalize;
  }
  nav .btn-nav a {
    @apply underline leading-6 decoration-[0.05em] font-semibold font-poppins capitalize hover:text-orange transition-all duration-500 ease-in-out;
  }
  nav button svg {
    @apply text-black w-8 h-8 cursor-pointer;
  }
  nav img {
    @apply 2xs:max-w-[200px] sm:max-w-[210px] 2xl:max-w-[295px];
  }
  .hero-img {
    @apply absolute bottom-0 opacity-15 2xs:max-w-[150px] md:max-w-[300px] lg:max-w-[300px] xl:max-w-[300px] 2xl:max-w-[544px] 2xl:max-h-[393px];
  }
  .nav-links a,
  .mobile-links a {
    @apply hover:text-blue hover:font-bold transition-all duration-500 ease-in-out;
  }
  .select-dropdown a {
    @apply block px-4 py-2 text-black hover:bg-gray-100 transition-all duration-500 ease-in-out;
  }
  .mobile-links .btn-nav a {
    @apply hover:text-orange transition-all duration-500 ease-in-out underline;
  }
  #mobileMenu .mobile-links li {
    @apply mx-10 font-semibold;
  }
  .mobile-links .service-items {
    @apply px-4 py-2 text-gray hover:bg-gray-100 mx-0!;
  }
  .about-us .about-us-main {
    @apply 2xs:gap-5 md:gap-7 2xl:gap-[70px] 2xs:px-5 xl:px-14 2xl:px-[120px] pt-[100px] 2xs:pt-10 2xl:pt-[100px] pb-[104px] 2xs:pb-10 2xl:pb-[104px];
  }
  .about-us .about-us-feature {
    @apply flex items-center 2xs:leading-5 2xl:leading-8;
  }
  .our-history .year-span {
    @apply tracking-[0.05em] text-[36px] leading-[51px] 2xs:text-[18px] sm:text-[25px] xl:text-[36px];
  }
  .capabilities .capability-main {
    @apply flex gap-3 items-center mx-[71px];
  }
  .our-commitment .core-value-main {
    @apply flex gap-2.5 items-center mt-2.5;
  }
  .our-commitment .core-value-dot {
    @apply relative pr-2.5;
  }
  .our-commitment .core-value-dot::before {
    @apply content-[''] absolute left-0 top-1/2 transform -translate-y-1/2;
    @apply w-[9px] h-[9px] bg-blue rounded-full shrink-0;
  }
  .our-commitment .core-value-main span {
    @apply text-gray font-roboto;
  }
  .our-commitment .core-value-text {
    @apply text-gray font-roboto;
  }
  .our-team .our-team-main {
    @apply pl-[121px] pr-[117px] mt-[74px] 2xs:my-11 lg:my-12 xl:my-13 2xl:mt-[74px] 2xl:mb-[130px] 2xs:px-5 lg:px-5 xl:px-11 2xl:pl-[121px] 2xl:pr-[117px];
  }
  .our-team .team-container {
    @apply relative bg-dark-gray rounded-[20px];
  }
  .our-team .our-team-main img {
    @apply w-full h-full object-cover rounded-[30px];
  }
  .our-team .team-contant {
    @apply absolute bottom-0 bg-blue w-full rounded-b-[20px] py-[15px] px-5;
  }
  .container1 :first-child,
  .container2 :first-child {
    @apply mt-0;
  }
  .testomonial-section .testomonial-container {
    @apply bg-blue py-10 2xs:py-5 2xl:py-10 px-[51px] 2xs:px-5 2xl:px-[51px] rounded-[40px] flex flex-col justify-between h-full;
  }
  .testomonial-section .testomonial-icon {
    @apply flex gap-1 py-1;
  }
  .testomonial-section .testomonial-container .text {
    @apply text-white font-inter mt-[33px];
  }
  .testomonial-section .author-name h6 {
    @apply leading-6 text-white;
  }
  .testomonial-section .author-name p {
    @apply leading-7 font-inter text-white;
  }
  footer .footer .footer-links {
    @apply font-body text-base text-[#F7F7EC];
  }
  footer .footer-links a {
    @apply hover:text-blue;
  }
  footer .socialmedia-icon {
    @apply p-[9px] w-fit;
  }
  footer h6 {
    @apply text-[24px] font-bold leading-6 font-heading text-[#F7F7EC] tracking-[0.04em] w-max;
  }
  footer .links {
    @apply text-[#F7F7EC] flex flex-col gap-5 2xs:gap-2 2xl:gap-5 mt-5 leading-[26px];
  }
  .our-brands .brands-container {
    @apply relative h-[560px] 2xs:h-[400px] 2xl:h-[560px] rounded-[10px] overflow-hidden cursor-pointer;
  }
  .our-brands .brands-hover-text {
    @apply absolute bottom-0 flex items-end bg-[#D82626CC]/80 opacity-0 group-hover:opacity-100 transition-opacity duration-300;
  }
  .our-history .history-text {
    @apply p-[50px] 2xs:p-2 md:py-5 lg:p-7 xl:p-9 2xl:p-[50px] rounded-3xl bg-white 2xs:ml-0 lg:-ml-[85px] 2xl:-ml-[278px] 2xs:mt-0 lg:mt-5 xl:mt-10 2xl:mt-[50px] 2xs:mb-0 lg:mb-5 xl:mb-10 2xl:mb-[51px] h-fit self-center;
  }
  .our-history .history-text p {
    @apply mt-[15px] text-black lg:max-w-[569px] text-base 2xs:leading-[22px] sm:leading-[26px];
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-gradiant {
  background-image: linear-gradient(
    90.04deg,
    #d82626 0.04%,
    #d82626 30.59%,
    #0055a4 141.65%
  );
}
.nav-shadow {
  box-shadow: 0px 4px 18.6px 0px #0000001a;
}
.menu-shedow {
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
}
.our-history-shedow {
  box-shadow: 4.95px 4.95px 4.95px 0px #0000001a;
}
.our-commitment-gradiant {
  background: linear-gradient(
    180deg,
    #d82626 0%,
    #0055a4 52.4%,
    rgba(0, 85, 164, 0) 100%
  );
}
.our-commitment-shedow {
  box-shadow: 0px 10px 30px 0px #00000008;
}
.our-team-gradiant {
  background: linear-gradient(
    180.63deg,
    rgba(0, 0, 0, 0) 69.24%,
    rgba(0, 0, 0, 0.2) 75.59%,
    rgba(0, 0, 0, 0.2) 98.74%
  );
}
.capabilities .marquee-divider {
  border: 1px solid #ffffff4d;
  height: 29px;
}
.announcement-bar div .slider {
  width: 100%;
}
.slider .slide-track {
  width: 100%;
  animation: scroll 20s linear infinite;
}
.slide-track .slide {
  width: 100%;
  transition: 0.5s;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: stickySlideDown 1s ease-in-out;
}
.swiper-slide {
  font-size: 18px;
  height: auto;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background: white !important;
  border: 1.5px solid #e60000;
  border-radius: 50%;
  margin-inline: 12px !important;
}

.swiper-pagination-bullet-active {
  background-color: #e60000 !important;
}
